/* CJ France's CSS modifies Bootstrap navigation */
  .navbar-custom {
    background-color: rgba(195,215,162,1); /* gray -> lt. green */
  }
  .navbar-text { /* modified BS style */
    color: rgba(58,87,91,0.2));
    font-size: 18px;
    font-family: "Belleza", serif;
    text-decoration: none;
    padding: 0.70rem;
  }

  .font-belleza { /* imported Google font */
    font-size: 24px;
    font-family: "Belleza", serif;
    text-decoration: none;
    padding: 0.70rem;
  }

  a:link {
    color: rgba(58,87,91,0.8);
    text-decoration: none;
    font-family: Belleza;
    font-size: 18px;
  }
  a:visited {
    color: rgba(58,87,91,0.8);
    text-decoration: none;
  }
  a:hover {
    background: rgba(219, 241, 182, 0.5); /* added highlight on hover */
    color: black;
  }
  a:active {
    color: white;
    text-decoration: none;
  }