/* Eye-Exercise, styles.css
** Source: MiT xPro FSD Course, Module 8: Styles and Bootstrap */
body {
  margin: 0;
  padding: 0;
  background-image: radial-gradient( /* gradient background */
        rgb(0, 77, 98),
        rgba(0,0,0,1));
  width: 100%;
  height: 100%;
}

.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.eye {
  width: 140px; /* changed from 240 */
  height: 80px; /* changed from 120 */
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.ball {
  width: 50px;
  height: 50px;
  /*background: #000;*/
  background-image: radial-gradient( /* gradient background */
  rgba(0,0,0,1),
  rgb(254, 157, 1)
  );

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.item {
  padding-top: 200px;
  text-align: center;
}

.mask {
  align-content: center;
  column-span: 4;
  padding: 20px;
  z-index: 3;
  position: fixed;
  top: 0px;
  left: 250px;
  z-index: 1;
}